<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviando un archivo al navegador</title>
</head>
<body>
    <h1>Hola Mundo!</h1>
    <h2>si</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In blandit nunc in hendrerit pretium. Aliquam erat volutpat. Nulla auctor pellentesque dolor, nec rhoncus dui condimentum eu. Vivamus commodo dapibus ultrices. Sed laoreet ut lacus quis imperdiet. Suspendisse sed volutpat justo. Aliquam ut nibh id lorem consectetur dapibus ut sed lacus. Aliquam sodales dolor lacus, id accumsan est dictum sed. In cursus risus et odio convallis auctor. Sed at porttitor nunc, vel ultrices lorem. Praesent vulputate velit massa, vitae varius justo euismod eget.

Quisque euismod justo sed enim consequat, ut vestibulum est commodo. Nunc sollicitudin arcu sed quam tincidunt venenatis. Nunc non laoreet libero. Curabitur magna diam, tristique et justo nec, condimentum euismod velit. Nam ac pellentesque massa. Suspendisse potenti. Mauris condimentum sem purus, et tincidunt eros ullamcorper sed. Praesent id est quis nibh ullamcorper auctor.

Donec non tortor feugiat, dictum est et, imperdiet ex. Pellentesque sodales ornare hendrerit. Quisque laoreet sem in erat consectetur, id aliquet sem luctus. Suspendisse turpis massa, auctor non ligula a, cursus dictum est. Curabitur est ipsum, sodales ut scelerisque at, euismod nec metus. Duis vel neque efficitur, facilisis dolor vitae, posuere arcu. Pellentesque vehicula feugiat sapien eget ornare. Aliquam at placerat dui. Phasellus sit amet velit est. Praesent laoreet nibh lacus, nec maximus mi auctor vel. Nam placerat lacus in ante venenatis pellentesque. Fusce laoreet nunc quam, in laoreet justo tempor quis. Nulla dictum tincidunt ipsum, ut tincidunt felis eleifend nec. Sed sollicitudin nibh neque, quis eleifend turpis imperdiet eget. Cras at est placerat, blandit nisi at, iaculis est.

Nullam blandit dignissim lectus, non vestibulum nisi commodo eu. Morbi tincidunt ligula id neque interdum ultricies. Sed et dapibus sem. Aliquam dui nisl, porttitor nec elit id, dignissim dictum neque. Nam quis porta erat. Praesent ornare lectus ut ex dictum pharetra. Mauris sollicitudin, nisi non tempus gravida, massa mi auctor ipsum, eu cursus eros dui vitae diam.

Vestibulum in augue est. Morbi quis sem cursus, sodales nibh at, volutpat leo. Sed ornare massa nec turpis interdum, et aliquet mi ullamcorper. In auctor ligula quis tellus laoreet, vitae blandit sem placerat. Nulla ullamcorper turpis tortor, vitae auctor lacus auctor sit amet. Aenean semper urna eu justo ultrices, eget auctor diam tempus. Nulla mattis dui eu diam vulputate, volutpat rhoncus enim condimentum.
    </p>
</body>
</html>